body
{
background-color: lightblue;

}

h1,h2 {
    color: navy;
    margin-top: 5%;
    margin-left: 5%;
    font-family: 'Courier New','Times New Roman',sans-serif;
     
}

ul {
    color: navy;
    margin-left: 5%;
    font-family: 'Courier New','Times New Roman',sans-serif;
     
}