.form-container {
    width: 300px;
}

.left-nav-container {
    padding-left: 0px;
}

.start-hidden {
    display: none;
}


.beaconinputfield {
    display: none;
    float: right;
}

.filter-range-val-container {
    width: 200px
}

@media (min-width: 576px) {
.container {
    max-width: inherit;
}

}
