<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beacon Decoded</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet.css') }}">
</head>
<body>
    <div class="heading1">
        <h1>
            <a href="{{ url_for('index') }}">Analysis Tools</a>
        </h1>
    </div>
    <h2> Beacon ID entered: {{ beaconID }} </h2>
    <div> 15 Hex Beacon ID : {{ beaconID15 }} </div>
    <div> Country Code is: {{ countrycode }} </div>
    <div> Protocol Code is: {{ protocolcode }} </div>
</body>
</html>