{% extends "layout.html" %}
{% block title %} Beacon Decode {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<section class="content" id="inputbeacon">
        <h2> Please enter beacon ID test</h2>
        <form method="post">
            <label for="hexcode">Beacon ID</label>
            <input type="text" name="hexcode" />
            <button type="submit"> Submit </button>
        </form>
    </section>
{% endblock %}