<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beacon Decoder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet.css') }}">

</head>
<body>
    <div id="heading1">
        <h1>
            <a href="{{ url_for('index') }}">Analysis Tools</a>
        </h1>
    </div>
    
    <div id="inputbeacon">
        <h2> Please enter beacon ID test</h2>
            <form method="post">
            <label for="beaconID">Beacon ID</label>
            <input type="text" name="beaconID" />
            <button type="submit"> Submit </button>
        </form>
    </div>
</body>
</html>