<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Beacon Decode</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}"> 
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>
</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>
        <script>
            $(function () {
                $("#nav-placeholder").load("{{ url_for('static', filename = 'templates/navbar.html') }}", function () {
                    $("#beaconDecodeHome").addClass("active");
                    $("#home").removeClass("active");
                });
            });
        </script>
        <section class="content" id="inputbeacon">
            <h2> Please enter beacon ID test</h2>
            <form method="post">
                <label for="beaconID">Beacon ID</label>
                <input type="text" name="beaconID" />
                <button type="submit"> Submit </button>
            </form>
        </section>

    </main>

</body>
</html>