<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raw Burst Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}">
    <!--<link rel="stylesheet" type="text/css" href='styles/mystylesheet3.css'>-->

</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <nav class="topnav">
            <a href="/" class="home">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst" class="active">Burst Analysis</a>
            <a href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor">Real Time Monitoring</a>
            <a href="/SiteQuery">Site Query</a>
        </nav>
        <section class="content form" id="RawAnalyzer">
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>MEOLUT</legend>
                    <label for="3385">Hawaii</label>
                    <input type="checkbox" name="MEOLUT" value="3385" checked /><br />
                    <label for="3669">Florida</label>
                    <input type="checkbox" name="MEOLUT" value="3669" checked/><br />
                </fieldset>
                <fieldset>
                    <legend>Date/Time</legend>
                    <label for="realtime"> Real Time </label>
                    <input type="radio" id="realtime" name="RealPastTime" value="RT_yes" checked/> <br />
                    <label id="rthours"> Number of Hours to Display <input type="number" name="realtimehours" value="4"/></label> <br />     
                    <label for="pasttime"> Past Time </label>
                    <input type="radio" id="pasttime" name="RealPastTime" value="RT_no"> <br />
                    <label class="times"> Start Time <input type="datetime-local" name="StartTime" /> <br /></label> 
                    <label class="times"> End Time <input type="datetime-local" name="EndTime" /><br /></label>
                    
                </fieldset>
                <fieldset>
                    <legend>Beacon</legend>
                    <label for="REFref">Reference Beacon Analysis</label>
                    <input type="radio" name="UseBeaconID" value="REFref" checked /><br />
                    <label for="HIref">Hawaii Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="HIref" /><br />
                    <label for="FLref">Florida Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="FLref"/><br />
                    <label for="UseBeaconID">Use Beacon ID</label>
                    <input type="radio" id ="userbeaconid" name="UseBeaconID" value="UserInput"/> <br />
                    <input type="text" id="beaconIDinput" name="beaconID" placeholder="BeaconID"> 
                </fieldset>
                <fieldset>
                    <legend>Input File</legend>
                    <label for="mccdb"> Use USMCC DB</label>
                    <input type="radio" id="mccdb" name="inputsource" value="mccdb" checked/> <br />
                    <!--<label for="xmlfile">Input XML File</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="xmlfile" /><br />
                    <label for="zipfile">Input ZIP File</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="zipfile" /><br />
                    <label for="sqldbfile">Input SQL lite DB</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="sqldbfile" /> <br />
                    <input type="file" id="fileinput" name="inputfile" >-->
                    <br />
                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <label for="ploton"> Show Plots </label>
                    <input type="radio" id="ploton" name="plotoptions" value="plotyes" checked /> <br />
                    <label for="percenton"> Show Percentage </label>
                    <input type="radio" id="percenton" name="plotoptions" value="percentyes" checked /> 
                    <label for="percenton"> (only accurate for reference beacons) </label>
                </fieldset>
                <button type="submit"> Submit </button> <br />
            </form>
            <article class="results">
                <h3>Results</h3>
            </article>
        </section>
    </main>
</body>
</html>