{% extends "layout.html" %}
{% block title %} Burst Analysis {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
            <article class="results">
                <h5 class="text-center">Results</h5>
                <h6 class="text-center"> From {{StartTime.strftime('%m/%d/%y %H:%M:%S')}} to {{EndTime.strftime('%m/%d/%y %H:%M:%S')}}</h6>
                
                <h6 class="text-center"> MEOLUTs:  {% for MEO in MEOLUTList %} {{ MEO }}, {% endfor %} </h6>
                
                {% for filename in filelist %}
                <img class="img-fluid" id="BurstResult" src="{{ filename }}" alt="Results png" title="results" />
                
                {% endfor %}
            </article>
{% endblock %}