{% extends "layout.html" %}
{% block title %} Burst Analysis {% endblock %}
{% block head %}

  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="form-container left-nav-container">
        <form class= "col-sm- flex-column" enctype="multipart/form-data">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">MEOLUT</legend>
                </div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="3385" checked />
                        <label for="3385" class="form-check-label">
                            Hawaii
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="3669" checked />
                        <label for="3385" class="form-check-label">
                            Florida
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="2276" />
                        <label for="2276" class="form-check-label">
                            France (2276)
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Date/Time
                    </legend>
                </div>
                    <div class="form-check ">
                        <input type="radio" id="realtime" class="form-check-input hoursRadio" name="RealPastTime" value="RT_yes" checked />
                        <label for="realtime" class="form-check-label">
                            Real Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="pasttime" class="form-check-input hoursRadio" name="RealPastTime" value="RT_no" />
                        <label for="realtime" class="form-check-label">
                            Past Time
                        </label>
                    </div>
                <div class="col-sm-6">
                    <div id="rthoursinput" >
                        <input type="number" class="form-control" name="realtimehours" aria-describedby="rthours" value="24" />
                        <small id="rthours" class="form-text text-muted" name="realtimehours">
                            Number of Hours to Display
                        </small>
                    </div>
                    <div id="pasttimeinput" class="start-hidden">
                        <input type="datetime-local" id="StartTime" name="StartTime" />
                        <small class="form-text text-muted pasttimeinput"> Start Time</small>
                        <input type="datetime-local" id="EndTime" name="EndTime" />
                        <small class="form-text text-muted pasttimeinput"> End Time</small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Beacon or Site
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input type="radio" name="UseBeaconID" value="UseRefBeacon" checked />
                        <label for="UseRefBeacon" class="form-check-label">Reference Beacon</label>
                    </div>
                    <div class="form-group" id="ref-beacon-group">
                        <select class="form-control" name="refbeacon">
                            <option value="FL-HI-Ref">Colocated Ref Beacons</option>
                            <option value="Florida-1">Florida-1</option>
                            <option value="Hawaii-1">Hawaii-1</option>
                            <option value="California">California</option>
                            <option value="NASA_Goddard">NASA_Goddard</option>
                            <option value="ToulouseMeoQMS">ToulouseMeoQMS</option>
                            <option value="Ottawa">Ottawa</option>
                            <option value="ToulouseOrb">ToulouseOrb</option>
                            <option value="McMurdo">McMurdo</option>
                            <option value="SpitsbergenMeoQMS">SpitsbergenMeoQMS</option> 
                            <option value="Edmonton">Edmonton</option>
                            <option value="MaspalomasMeoQMS">MaspalomasMeoQMS</option> 
                            <option value="ToulouseTCAL">ToulouseTCAL</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="userbeaconid" name="UseBeaconID" value="BeaconInput" />
                        <label for="UseBeaconID" class="form-check-label">Use Beacon ID</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="usersiteid" name="UseBeaconID" value="SiteInput" />
                        <label for="UseSiteID" class="form-check-label">Use Site Number</label>
                    </div>
                </div>
                <div class="row col-12">
                    <input type="text" class="form-control form-control-sm beaconinputfield beaconfield col-12" id="beaconIDinput" name="beaconID" placeholder="Beacon ID">
                    <input type="text" class="form-control form-control-sm beaconinputfield sitefield col-12" id="siteIDinput" name="siteID" placeholder="Site ID">

                    <input type="text" class="form-control form-control-sm beaconinputfield sitefield beaconfield col-12" id="siteLocationName" name="Location" placeholder="Location Name">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Data Source
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputradio" name="inputsource" value="mccdb" checked/>
                        <label class="form-check-label" for="mccdb"> Use USMCC DB</label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputneeded fileinputradio" name="inputsource" value="excelfile" disabled/>
                        <label class="form-check-label" for="excelfile">Input Excel File</label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputneeded fileinputradio" name="inputsource" value="csvfile" disabled/>
                        <label class="form-check-label" for="csvfile">Input CSV File</label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Data Options
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="radio" name="plotoptions" value="plotyes" checked/>
                        <label class="form-check-label" for="ploton"> Show Plots </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" name="plotoptions" value="percentyes" />
                        <label class="form-check-label" for="plotoptions"> Show Percentage </label>
                    </div>
                </div>
            </fieldset>
            <button type="submit"> Submit </button> <br />
            <div class="row">
                <button class="btn btn-primary btn-block" type="submit"> Submit </button>
            </div>
        </form>
    </div>
    <div class="col-lg-8 ">
    {% if filelist is defined %}
        <h5 class="text-center">Results</h5>
        {% for filename in filelist %}
        <img class="img-fluid" id="BurstResult" src="{{ filename }}" alt="Results png" title="results" />
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}
<script src="{{ url_for('static', filename='scripts/forms.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" >
{% endblock %}