<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <!-- Tell IE to use the latest, best version. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Map Test v0.3 </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Build/Cesium/Widgets/widgets.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='Build/Cesium/Cesium.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cesium.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>

</head>
<body>
    <div id="cesiumContainer"></div>
    <div id="toolbar"></div>
    <div class="buttonHolder">
        <div id="siteButtonHolder">
            <input id="siteNumber" type="text" onkeypress="app.handleKeyPress(event)" />
            <input type="button" value="Add Site" onclick="app.addSite()" /><br />
        </div>
        <div id="otherButtonHolder">
            <!--Date / Time: <input id="startDate" type="date" />-->
            <input type="button" id="reset" value="Remove all entities" onclick="app.reset()" /> <br />
            <input type="button" id="realTimeSiteButton" value="Real Time Sites" onclick="app.realTime()" /> <br />
            <!--<input type="button" value="Toggle Luts" onclick="app.toggleEntity(['FL','GU','NSOF','AK','HI'])" /> <br /> -->
            <input type="button" value="Toggle Luts" onclick="app.toggleEntity('lutSites')" /> <br />
            <input type="button" id="meoSatButton" value="MEO Sats" onclick="app.addMeoSats()" /> <br />
            <input type="button" id="meoPerButton" value="MEO Antennas" onclick="app.addMeoPer([3669, 3385])" /> <br />
            <input type="button" value="Time Set to current" onclick="app.setCurrentTime()" />
        </div>
    </div>
    <div class="toolHolder">
        <input type="button" value="Show Lat/Lon on Mouse" onclick="app.showLatLon()" /> <br />
        <input type="button" value="Double Click Select" onclick="app.doubleClickSelect()" /> <br />
    </div>
    <script type="text/javascript">
    //$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        baseUrl = "{{ url_for('index',_external = True) }}";
    </script>
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/_run.js') }}"></script>
    <script>

    $(document).ready(function() {

        {% if KMLFILE %}
        app.addKmlDataSource('{{KMLFILE}}'); //,options));
        {% endif %}


        {% if CZMLFILE %}
        app.addCzmlDataSource('{{CZMLFILE}}') //,options));
        {% endif %}

        /*
        {% if ZOOMTO %}
        camera.setView({
        destination : Cesium.Cartesian3.fromDegrees(longitude, latitude, height),
        orientation: {
            heading : 0.0,
            pitch : -Cesium.Math.PI_OVER_TWO,
            roll : 0.0
            }
        });
        {% endif %}
        */
    });

    </script>

</body>
</html>
