{% extends "layout.html" %}
{% block title %} SARSAT USMCC Web App {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="jumbo">
    <h1 class="display-4">SARSAT USMCC Web App</h1>
    <p class="lead">User guide soon to come!</p>

    <p>
    <p>The tool is a web application that can be accessed through Chrome or other internet browser that enables a real time view of MEOLUT or USMCC performance and status. Note – Chrome should be used as Internet Explorer will not render the site properly due to not allowing CSS </p>
    <p>The tool is accessible on the MCC Lan going to <a href="/">https://sar-reportsrv/</a> in Chrome and then clicking on Real Time Monitoring, or you can go directly to it <a id="realTimeMonitorHome" href="/RealTimeMonitor"> https://sar-reportsrv/RealTimeMonitor </a><p> 
    <p>The web app works by querying a database (MccMeoLutMonitor) on the server (//sar-reportsrv). Currently, the Controller should focus on one area – The area circled in red above which is blown up below.</a>
    <ol> 
        <li> When first going to the page, it may take 5 to 20 seconds to load. This is normal as it is pulling a lot of data from the database. 
        </li>
        <li> The page will refresh automatically. The default refresh rate is 300 seconds or 5 minutes. If you’d like to change this, enter a number of seconds (greater than 30 seconds would probably be best) and click submit. The field “Burst Percentage Window (minutes)” is how much data for to look at. Default is 60 minutes. It is currently disabled due to the way data is being stored in SQL database.  
        </li>
        <li> For now, monitor:
            <ol type="a">
                <li> The cell with the heading “% < 5km”. This is the percentage of reference beacon solutions from the MEOLUT that are less than 5 km in error. This should be 90% or above. If it slips below 75% contact McMurdo. 
                </li>
                <li> The Num or Reference Locations – This is the number of locations the MEOLUT provided for its collocated reference beacon. For a “Burst Percentage Window” of 60 minutes, the number should be 30 – 50. For 120 min, it should be 60 or greater, etc.
                </li>
                <li> Antenna Percentages – The percentage of bursts each antenna received from the collocated reference beacon. If it slips into the red, notify McMurdo. You may/should also have a DBProxy alarm as well. 
                    <ul>
                        <li> If antenna detection percentage drops below 50%, chech the CAC. If any errors are present, follow the SOP for those errors. </li>
                        <li> If no errors are present, notify McMurdo only if the detection percentage drops below 10% </li>                        
                    </ul>
                </li>
            </ol>
        </li>
        <li> <strong> Note: If the collocated reference beacon isn't transmitting, the metrics above will not be accurate</strong>
    </ol>
    <img class="img-fluid" id="realtimemonitor_screenshot1" src="{{ url_for('static', filename="/images/realtimemonitor_screenshot1.png") }}" alt="realtimemonitor_screenshot1" title="realtimemonitor_screenshot1" />
</div>

{% endblock %}