<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SARSAT Analysis App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}">
    <!--<link rel="stylesheet" type="text/css" href='styles/mystylesheet3.css'> -->
</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <nav class="topnav">
            <a href="/" class="home active">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst">Burst Analysis</a>
            <a href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor">Real Time Monitoring</a>
            <a href="#">Satellite Orbit Analysis</a>
        </nav>
        <section class="content">
            <h2> Welcome to the LUT Analysis Tools</h2>
            <p>Select from the toolbar above to start analyzing</p>
        </section>
    </main>
</body>
</html>