{% extends "layout.html" %}
{% block title %} Beacon Decode {% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="jumbo">
    <h1 class="display-4">SARSAT Web App</h1>
    <p class="lead">User guide soon to come!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dolor lacus, mattis vitae risus a, tristique sollicitudin diam. Nunc eu rutrum lacus. Cras placerat accumsan cursus. Nullam sed sollicitudin metus, eget iaculis mauris. Pellentesque dignissim placerat dui id efficitur. Aliquam blandit feugiat augue vitae eleifend. Vivamus tristique velit quis nisi hendrerit varius. Nunc in accumsan est. Curabitur ornare egestas libero, mollis euismod nunc sagittis eget. Donec eu augue sit amet justo mollis ultricies. Etiam leo erat, scelerisque eget tincidunt eget, pharetra eget arcu. Suspendisse in consequat augue. Sed bibendum diam nec finibus varius. Suspendisse malesuada tincidunt facilisis. Quisque facilisis diam nibh, sed blandit lacus lobortis eu. Nam sem urna, consectetur in arcu non, dapibus cursus ligula.<p>
    
    <p>Proin in placerat massa. Nulla ultrices ligula et sem cursus, a tristique elit aliquam. Maecenas eu auctor elit. Pellentesque sed mattis erat. Donec nulla nunc, dignissim et convallis eget, porttitor in erat. Fusce tincidunt ex eget condimentum laoreet. Nulla scelerisque neque quis scelerisque convallis. Quisque aliquam aliquam dui.</p>


</div>

{% endblock %}