<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Use correct character set. -->
  <meta charset="utf-8">
  <!-- Tell IE to use the latest, best version. -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Make the application on mobile take up the full browser screen and disable user scaling. -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118635979-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118635979-1');
    </script>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-54WJ7FT');</script>
    <!-- End Google Tag Manager -->
    <title>Map Test v0.3 </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Build/Cesium/Widgets/widgets.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='Build/Cesium/Cesium.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/site.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54WJ7FT"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="cesiumContainer"></div>
    <div class="buttonHolder">
        <div id="siteButtonHolder">
            Site Number:  <input id="siteNumber" type="text" />
            <input type="button" value="Add Site" onclick="app.addSite()" /><br />
        </div>
        <div id="otherButtonHolder">
        <!--Date / Time: <input id="startDate" type="date" />-->
            <input type="button" id="realTimeSiteButton" value="Real Time Sites" onclick="app.realTime()" /> <br />
            <input type="button" value="Toggle Luts" onclick="app.toggleEntity('FL')" /> <br />
            <input type="button" value="Time Set to current" onclick="app.setCurrentTime()" />
        </div>
    </div>
    <script type="text/javascript">
    //$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        baseUrl = "{{ url_for('index',_external = True) }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/_run.js') }}"></script>
    <script>

    $(document).ready(function() {

        {% if KMLFILE %}
        app.addKmlDataSource('{{KMLFILE}}'); //,options));
        {% endif %}


        {% if CZMLFILE %}
        app.addCzmlDataSource('{{CZMLFILE}}') //,options));
        {% endif %}

        /*
        {% if ZOOMTO %}
        camera.setView({
        destination : Cesium.Cartesian3.fromDegrees(longitude, latitude, height),
        orientation: {
            heading : 0.0,
            pitch : -Cesium.Math.PI_OVER_TWO,
            roll : 0.0
            }
        });
        {% endif %}
        */
    });

    </script>

</body>
</html>
