<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="{{ url_for('static', filename='Build/CesiumUnminified/Cesium.js') }}"></script>
    <link href="https://cesiumjs.org/releases/1.57/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>
<body>

    <div id="cesiumContainer" style="width: 700px; height:400px"></div>
    <script>
        Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzNTBmODQyNi1mODlhLTRjMGYtYTQ3Zi1kMzdiNGIyZmQyN2IiLCJpZCI6MTA3NjgsInNjb3BlcyI6WyJhc3IiLCJnYyJdLCJpYXQiOjE1NTczMzI4NDF9.CjdCeI3wLGmDhHNf_jEPghiVrcM7cV8RvjL9HtqcY1c';
        var viewer = new Cesium.Viewer('cesiumContainer');
    </script>
</body>
</html>