<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEOLUT Solution Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}"> 
    <!--<link rel="stylesheet" type="text/css" href='/styles/mystylesheet3.css'>-->
    <!--<script language="javascript">
    document.getElementById('EndDate').value = new Date().toDateInputValue();
    </script> -->
</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <nav class="topnav">
            <a href="/" class="home">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst">Burst Analysis</a>
            <a href="/MEOInputAnalysis" >MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor">Real Time Monitoring</a>
            <a href="/SiteQuery">Site Query</a>
            <a href="/MEOBeaconAnalysis" class="active">MEOLUT Beacon Analysis</a>
        </nav>
        <section class="content form" id="MEOBeaconAnalysis">
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>MEOLUT</legend>
                    <label for="3385">Hawaii</label>
                    <input type="radio" name="MEOLUT" value="3385" /><br />
                    <label for="3669">Florida</label>
                    <input type="radio" name="MEOLUT" value="3669" /><br />
                    <label for="both">Both</label>
                    <input type="radio" name="MEOLUT" value="both" /><br /> <!-- May need to come back and change-->
                </fieldset>
                <fieldset>
                    <legend>Date/Time</legend>
                    <input type="radio" id="realtime" name="RealPastTime" value="RT_yes" checked/>
                    <label for="realtime"> Real Time </label>                  
                    <label id="rthours"> Number of Hours to Display <input type="number" name="realtimehours" value="24"/></label> <br />
                    <input type="radio" id="pasttime" name="RealPastTime" value="RT_no"> 
                    <label for="pasttime"> Past Time </label><br />
                    <label class="times"> Start Time <input type="datetime-local" name="StartTime" /> </label>
                    <br />
                    <label class="times" id="EndDate"> End Time <input type="datetime-local" name="EndTime" /><br /></label>
                </fieldset>
                <fieldset>
                    <legend>Beacon</legend>
                    <label for="REFref">Reference Beacon Analysis</label>
                    <input type="radio" name="UseBeaconID" value="REFref" checked /><br />
                    <label for="HIref">Hawaii Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="HIref" /><br />
                    <label for="FLref">Florida Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="FLref"/><br />
                    <label for="UseBeaconID">Use Beacon ID</label>
                    <input type="radio" id="userbeaconid" name="UseBeaconID" value="BeaconInput" /> <br />
                    <label for="UseSiteID">Use Site ID</label>
                    <input type="radio" id="usersiteid" name="UseBeaconID" value="SiteInput" /> <br />
                    <input type="text" id="beaconIDinput" name="beaconID" placeholder="Beacon ID"> 
                    <input type="text" id="siteIDinput" name="siteID" placeholder="Site ID"> 
                    <input type="text" id="beaconIDinput" name="Location" placeholder="Location name">
                    <input type="text" id="siteIDinput" name="Location" placeholder="Location name"> 
                </fieldset>
                <fieldset id="gtsource">
                    <legend>Ground Truth Source</legend>
                    <label for="GTLatLon"> Input Lat, Lon</label>
                    <input type="radio" id="gtlatlon" name="GTSource" value="GTLatLon" checked/><br />
                    <label for="GTFile"> Use File</label>
                    <input type="radio" id="gtfile" name="GTSource" value="GTFile" /><br />
                    <input type="text" id="latloninput" name="beaconLat" placeholder="Ground Truth Latitude">
                    <input type="text" id="latloninput" name="beaconLon" placeholder="Ground Truth Longitude">
                    <input type="file" class="fileinputbox" id="gtfileinput" name="inputfile">
                </fieldset>
                <fieldset>
                    <legend>Data Source File</legend>
                    <label for="mccdb"> Use USMCC DB</label>
                    <input type="radio" name="inputsource" value="mccdb" /> <br />
                    <label for="excelfile">Input Excel File</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="excelfile" /><br />
                    <label for="csvfile">Input CSV File (J2)</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="csvfile" /><br />
                    <input type="file" class="fileinputbox" id="fileinput" name="inputfile" >
                    <br />
                </fieldset>
                <fieldset id="filters">
                    <legend>Data Filters</legend>
                    <label for="filter1"> Filter 1</label>
                    <input type="checkbox" id="filter1check" name="inputsource" value="filter1" /> <br/>
                    <select id="filter1">
                        <option value="DataType">DataType</option>
                        <option value="DOP">DOP</option>
                        <option value="ExpectedHorzError">ExpectedHorzError</option>
                        <option value="NumBursts">NumBursts</option>
                        <option value="NumPackets">NumPackets</option>
                        <option value="NumSatellites">NumSatellites</option>
                    </select><br/>
                    <label for="filter1val" class="filter1s" id="filter1val">value</label><input type="radio" class="filter1s" name="filter1sel" id="filter1val" value="filter1value">
                    <label for="filter1range" class="filter1s" id="filter1ran">range</label><input type="radio" class="filter1s" name="filter1sel" id="filter1ran" value="filter1range">
                    <input type="text" class="filter1s" id="valueinput" name="filter1value" placeholder="value">
                    <input type="text" class="filter1s" id="rangeinput" name="filter1rangelow" placeholder="low value">
                    <input type="text" class="filter1s" id="rangeinput" name="filter1rangehigh" placeholder="high value">
                    <br />

                    <label for="filter2"> Filter 2</label>
                    <input type="checkbox" id="filter2check" name="inputsource" value="filter2" /> <br />
                    <select id="filter2">
                        <option value="DataType">DataType</option>
                        <option value="DOP">DOP</option>
                        <option value="ExpectedHorzError">ExpectedHorzError</option>
                        <option value="NumBursts">NumBursts</option>
                        <option value="NumPackets">NumPackets</option>
                        <option value="NumSatellites">NumSatellites</option>
                    </select><br />
                    <label for="filter2val" class="filter2s" id="filter2val">value</label><input type="radio" class="filter2s" name="filter2sel" id="filter2val" value="filter2value">
                    <label for="filter2range" class="filter2s" id="filter2ran">range</label><input type="radio" class="filter2s" name="filter2sel" id="filter2ran" value="filter2range">
                    <input type="text" class="filter2s" id="valueinput" name="filter2value" placeholder="value">
                    <input type="text" class="filter2s" id="rangeinput" name="filter2rangelow" placeholder="low value">
                    <input type="text" class="filter2s" id="rangeinput" name="filter2rangehigh" placeholder="high value">
                    <br />

                    <label for="filter3"> Filter 3</label>
                    <input type="checkbox" id="filter3check" name="inputsource" value="filter3" /> <br />
                    <select id="filter3">
                        <option value="DataType">DataType</option>
                        <option value="DOP">DOP</option>
                        <option value="ExpectedHorzError">ExpectedHorzError</option>
                        <option value="NumBursts">NumBursts</option>
                        <option value="NumPackets">NumPackets</option>
                        <option value="NumSatellites">NumSatellites</option>
                    </select><br />
                    <label for="filter3val" class="filter3s" id="filter3val">value</label><input type="radio" class="filter3s" name="filter3sel" id="filter3val" value="filter3value">
                    <label for="filter3range" class="filter3s" id="filter3ran">range</label><input type="radio" class="filter3s" name="filter3sel" id="filter3ran" value="filter3range">
                    <input type="text" class="filter3s" id="valueinput" name="filter3value" placeholder="value">
                    <input type="text" class="filter3s" id="rangeinput" name="filter3rangelow" placeholder="low value">
                    <input type="text" class="filter3s" id="rangeinput" name="filter3rangehigh" placeholder="high value">
                    <br />

                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <label for="KMLgen"> Generate KML file </label>
                    <input type="checkbox" class="KMLneeded" name="KMLgen" value="KMLgen"/><br/>
                    <label for="StatsOut" > Output Stats to File </label>
                    <input type="checkbox" name="StatsOut" value="True" /><br />
                    <label for="histcum" > Generate Histogram Cumulative Error Plot </label>
                    <input type="checkbox" name="histcum" value="True" /><br />
                </fieldset>
                <button type="submit"> Submit </button> <br />
            </form><br />
            <article class="results">
                <h3>Results</h3>
                <table>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
        </section>

    </main>
</body>
</html>