{% extends "layout.html" %}
{% block title %} Beacon Analysis {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="form-container">
        <form class= "col-sm- flex-column" enctype="multipart/form-data">
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">MEOLUT</legend>
                </div>
                <div class="col-sm-8">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="3385" checked />
                        <label for="3385" class="form-check-label">
                            Hawaii
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="3669" checked />
                        <label for="3385" class="form-check-label">
                            Florida
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="MEOLUT" value="2276" />
                        <label for="2276" class="form-check-label">
                            France (2276)
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Date/Time
                    </legend>
                </div>
                    <div class="form-check ">
                        <input type="radio" id="realtime" class="form-check-input hoursRadio" name="RealPastTime" value="RT_yes" checked />
                        <label for="realtime" class="form-check-label">
                            Real Time
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="pasttime" class="form-check-input hoursRadio" name="RealPastTime" value="RT_no" />
                        <label for="realtime" class="form-check-label">
                            Past Time
                        </label>
                    </div>
                <div class="col-sm-6">
                    <div id="rthoursinput" >
                        <input type="number" class="form-control" name="realtimehours" aria-describedby="rthours" value="24" />
                        <small id="rthours" class="form-text text-muted" name="realtimehours">
                            Number of Hours to Display
                        </small>
                    </div>
                    <div id="pasttimeinput" class="start-hidden">
                        <input type="datetime-local" id="StartTime" name="StartTime" />
                        <small class="form-text text-muted pasttimeinput"> Start Time</small>
                        <input type="datetime-local" id="EndTime" name="EndTime" />
                        <small class="form-text text-muted pasttimeinput"> End Time</small>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Beacon or Site
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input type="radio" name="UseBeaconID" value="UseRefBeacon" checked />
                        <label for="UseRefBeacon" class="form-check-label">Reference Beacon</label>
                    </div>
                    <div class="form-group" id="ref-beacon-group">
                        <select class="form-control" name="refbeacon">
                            <option value="Florida-1">Florida-1</option>
                            <option value="Hawaii-1">Hawaii-1</option>
                            <option value="California">California</option>
                            <option value="NASA_Goddard">NASA_Goddard</option>
                            <option value="ToulouseMeoQMS">ToulouseMeoQMS</option>
                            <option value="Ottawa">Ottawa</option>
                            <option value="ToulouseOrb">ToulouseOrb</option>
                            <option value="McMurdo">McMurdo</option>
                            <option value="SpitsbergenMeoQMS">SpitsbergenMeoQMS</option> 
                            <option value="Edmonton">Edmonton</option>
                            <option value="MaspalomasMeoQMS">MaspalomasMeoQMS</option> 
                            <option value="ToulouseTCAL">ToulouseTCAL</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="userbeaconid" name="UseBeaconID" value="BeaconInput" />
                        <label for="UseBeaconID" class="form-check-label">Use Beacon ID</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="usersiteid" name="UseBeaconID" value="SiteInput" />
                        <label for="UseSiteID" class="form-check-label">Use Site Number</label>
                    </div>
                </div>
                <div class="row col-12">
                    <input type="text" class="form-control form-control-sm beaconinputfield beaconfield col-12" id="beaconIDinput" name="beaconID" placeholder="Beacon ID">
                    <input type="text" class="form-control form-control-sm beaconinputfield sitefield col-12" id="siteIDinput" name="siteID" placeholder="Site ID">

                    <input type="text" class="form-control form-control-sm beaconinputfield sitefield beaconfield col-12" id="siteLocationName" name="Location" placeholder="Location Name">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">Ground Truth Source</legend>
                </div>
                <div class="row">
                    <div class="form-check">
                        <input type="radio" id="gtlatlon" name="GTSource" value="GTLatLon" checked />
                        <label for="GTLatLon" class="form-check-label"> Input Lat, Lon</label><br/>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="gtfile" name="GTSource" value="GTFile" />
                        <label for="GTFile" class="form-check-label"> Use File</label>
                    </div>
                    <div class="row col-12">
                        <input type="text" class="form-control form-control-sm beaconinputfield posfield col-6" id='beaconLat' name="beaconLat" placeholder="Ground Truth Latitude">
                        <input type="text" class="form-control form-control-sm beaconinputfield posfield col-6" id='beaconLon' name="beaconLon" placeholder="Ground Truth Longitude">
                        <input type="file" class="form-control-file form-control-sm" id="gtfileinput" name="gt_inputfile">
                    </div>
                </div>  
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Data Source
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputradio" name="inputsource" value="mccdb" checked />
                        <label class="form-check-label" for="mccdb">MccMeoLutMonitor (Last ~45 days)</label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputradio" name="inputsource" value="mcc_operational_rpt" />
                        <label class="form-check-label" for="mccdb">MccOperationalRpt (2018 - present)</label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputneeded fileinputradio" name="inputsource" value="excelfile" />
                        <label class="form-check-label" for="excelfile">Input Excel File</label>
                    </div>
                    <div class="form-check col-12">
                        <input type="radio" class="fileinputneeded fileinputradio" name="inputsource" value="csvfile" />
                        <label class="form-check-label" for="csvfile">Input CSV File</label>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label pt-0">
                         MEO Data Filters        
                    </legend>
                </div>
                <div class="form-check">
                    <div class="checkbox">
                        <label><input type="checkbox" id="filter1check" name="filter1check" value="True" />Filter 1 </label>
                    </div>
                </div>
                <div class="col-sm-6 start-hidden form-group filter1group">
                    <div class="form-group">
                        <select class="form-control" id="filter1" name="filter1">
                            <option value="datatypename">DataType</option>
                            <option value="dopname">DOP</option>
                            <option value="ehename">ExpectedHorzError</option>
                            <option value="numburstsname">NumBursts</option>
                            <option value="numpacketsname">NumPackets</option>
                            <option value="numsatsname">NumSatellites</option>
                            <option value="cn0name">Average CN0</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter1s" name="filter1sel" id="filter1val" value="filter1val" checked> 
                        <label for="filter1val" class="filter1s form-check-label" id="filter1val">value</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter1s" name="filter1sel" id="filter1ran" value="filter1ran">
                        <label for="filter1ran" class="filter1s form-check-label" id="filter1ran">range</label>
                    </div>
                    <div class="row filter1-val-range-group">
                        <input type="text" class="filter1-val-group form-control" id="valueinput" name="filter1value" placeholder="value">
                        <input type="text" class="filter1-range-group form-control start-hidden" id="rangeinput" name="filter1rangelow" placeholder="low value">
                        <input type="text" class="filter1-range-group form-control start-hidden" id="rangeinput" name="filter1rangehigh" placeholder="high value">
                    </div>
                </div>
                <div class="form-check">
                    <div class="checkbox">
                        <label><input type="checkbox" id="filter2check" name="filter2check" value="True" />Filter 2 </label>
                    </div>
                </div>
                <div class="col-sm-6 start-hidden form-group filter2group">
                    <div class="form-group">
                        <select class="form-control" id="filter2" name="filter2">
                            <option value="datatypename">DataType</option>
                            <option value="dopname">DOP</option>
                            <option value="ehename">ExpectedHorzError</option>
                            <option value="numburstsname">NumBursts</option>
                            <option value="numpacketsname">NumPackets</option>
                            <option value="numsatsname">NumSatellites</option>
                            <option value="cn0name">Average CN0</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter2s" name="filter2sel" id="filter2val" value="filter2val" checked> 
                        <label for="filter2val" class="filter2s form-check-label" id="filter2val">value</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter2s" name="filter2sel" id="filter2ran" value="filter2ran">
                        <label for="filter2ran" class="filter2s form-check-label" id="filter2ran">range</label>
                    </div>
                    <div class="row filter2-val-range-group">
                        <input type="text" class="filter2-val-group form-control" id="valueinput" name="filter2value" placeholder="value">
                        <input type="text" class="filter2-range-group form-control start-hidden" id="rangeinput" name="filter2rangelow" placeholder="low value">
                        <input type="text" class="filter2-range-group form-control start-hidden" id="rangeinput" name="filter2rangehigh" placeholder="high value">
                    </div>
                </div>
                <div class="form-check">
                    <div class="checkbox">
                        <label><input type="checkbox" id="filter3check" name="filter3check" value="True" />Filter 3 </label>
                    </div>
                </div>
                <div class="col-sm-6 start-hidden form-group filter3group">
                    <div class="form-group">
                        <select class="form-control" id="filter3" name="filter3">
                            <option value="datatypename">DataType</option>
                            <option value="dopname">DOP</option>
                            <option value="ehename">ExpectedHorzError</option>
                            <option value="numburstsname">NumBursts</option>
                            <option value="numpacketsname">NumPackets</option>
                            <option value="numsatsname">NumSatellites</option>
                            <option value="cn0name">Average CN0</option>
                        </select>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter3s" name="filter3sel" id="filter3val" value="filter3val" checked> 
                        <label for="filter3val" class="filter3s form-check-label" id="filter3val">value</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="filter3s" name="filter3sel" id="filter3ran" value="filter3ran">
                        <label for="filter3ran" class="filter3s form-check-label" id="filter3ran">range</label>
                    </div>
                    <div class="row filter3-val-range-group">
                        <input type="text" class="filter3-val-group form-control" id="valueinput" name="filter3value" placeholder="value">
                        <input type="text" class="filter3-range-group form-control start-hidden" id="rangeinput" name="filter3rangelow" placeholder="low value">
                        <input type="text" class="filter3-range-group form-control start-hidden" id="rangeinput" name="filter3rangehigh" placeholder="high value">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <legend class="col-form-label pt-0">
                        Data Collection
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="checkbox" name="SolutionsOut" value="True" />
                        <label class="form-check-label" for="SolutionsOut"> Get RCC Output Sol to File </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" name="AllSiteSols" value="True" />
                        <label class="form-check-label" for="AllSiteSols"> Get all alertsite sols </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" id="Jdata" name="Jdata" value="True" />
                        <label class="form-check-label" for="Jdata"> Get J1,J2,J3 data </label>
                    </div>
                    <div class="col-12 start-hidden form-group Jdata-group">
                        <div class="form-check">
                            <input type="checkbox" name="J1data" value="True" checked> 
                            <label for="J1data" class="form-check-label">J1 data (raw bursts)</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="J2data" value="True" checked> 
                            <label for="J2data" class="form-check-label">J2 data (MEO solutions)</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" name="J3data" value="True" checked> 
                            <label for="J3data" class="form-check-label">J3 data (MEO schedule)</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <legend class="col-form-label pt-0">
                       MEO Histogram Options
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="checkbox" name="histcum" value="True" />
                        <label class="form-check-label" for="histcum">Show Histo Cumulative Error Plot </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" id="plotvary" name="plotvary" value="True" />
                        <label class="form-check-label" for="plotvary"> Vary a Value in Hist/Cumulative Plot </label>
                    </div>
                    <div class="form-group plotvaryby-group start-hidden">
                        <label for="plotvaryby">Vary by:</label>
                        <select class="form-control" id="plotvaryby" name="plotvaryby">
                            <option value="dopname">DOP</option>
                            <option value="ehename">ExpectedHorzError</option>
                            <option value="numburstsname">NumBursts</option>
                            <option value="numpacketsname">NumPackets</option>
                            <option value="numsatsname">NumSatellites</option>
                            <option value="cn0name">Average CN0</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row">
                    <legend class="col-form-label pt-0">
                        KML Options
                    </legend>
                </div>
                <div class="row">
                    <div class="form-check col-12">
                        <input type="checkbox" name="KMLgen" value="True" />
                        <label class="form-check-label" for="KMLgen"> Generate KML file </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" name="ErrorLines" value="True" />
                        <label class="form-check-label" for="ErrorLines"> Draw Error Lines in KML file </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" name="ErrorLines" value="True" />
                        <label class="form-check-label" for="ErrorLines"> LEO </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" name="ErrorLines" value="True" />
                        <label class="form-check-label" for="ErrorLines"> Enc </label>
                    </div>
                    <div class="form-check col-12">
                        <input type="checkbox" name="ErrorLines" value="True" />
                        <label class="form-check-label" for="ErrorLines"> Comp </label>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <button class="btn btn-primary btn-block" type="submit"> Submit </button>
            </div>
        </form>
        <div class="col">
            {% if output_data is defined %}
                {% if output_data.linklist %}
                    {% for link, desc in output_data.linklist.iteritems() %}
                        <a href="{{ link }}">{{ desc }}  </a> <br />
                    {% else %}
                        <h5> No links to display </h5>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="col">
    {% if output_data is defined %}
        <div class="results jumbotron">
            <h3 class="display-4">Results</h3>
            <h5>MEOLUT: {{ output_data.MEOLUTList }}</h5>
            <h5>BeaconID: {{ output_data.beaconID }} </h5>
            <h5>SiteID: {{ output_data.siteID }}
            <h5>Between {{ output_data.StartTime.strftime('%m/%d/%y %H:%M') }} and {{ output_data.EndTime.strftime('%m/%d/%y %H:%M') }}</h5>
            <h5>Using {{ output_data.BeaconType }} to collect data </h5> 
            {% if output_data.SummaryData %}
            <hr class="my-4">
        <div class="container">
            <table class="display">
                {% for row in data %}
                <tr>
                    {% for i in range(0, row|length) %}
                    <td>{{ row[i] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            {% else %}
                {% if output_data.BeaconType == "SiteInput" %}
                    <h5> No location summary to display for site - {{ output_data.siteID }}  </h5>
                    {% else %}
                    <h5> No location summary to display for beacon - {{ output_data.beaconID }}  </h5>
                {% endif %}
            {% endif %}
        {% if output_data.imglist %}
            {% for filename in output_data.imglist %}
                <img class="img-fluid" id="HistogramCumulativePlotResult" src="{{ filename }}" alt="Results png" title="results" />
            {% else %}
                <h5> No Histogram to display </h5> 
            {% endfor %}
            
        {% endif %}

        </div>
    </div>
    {% endif %}
    </div>


</div>
{% endblock content %}

{% block footer %}
<script src="{{ url_for('static', filename='scripts/forms.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" >
{% endblock footer %}
