<div class="results">
    <h3>Results</h3>
        {% for link, desc in linklist.iteritems() %}
        <a href="{{ link }}">{{ desc }}  </a> <br />{% endfor %}
        <table class='display'>
            {% for row in data %}
            <tr>
                {% for i in range(0, row|length) %}
                <td>{{ row[i] }}</td>
                {% endfor %}
            </tr>
                {% endfor %}
        </table>
            {% for filename in imglist %}
                <img class="img-fluid" id="HistogramCumulativePlotResult" src="{{ filename }}" alt="Results png" title="results" />
            {% endfor %}
</div>