<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MEOLUT Solution Analysis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}"> 
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>
</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>
        <script>
            $(function () {
                $("#nav-placeholder").load("{{ url_for('static', filename = 'templates/navbar.html') }}", function () {
                    $("#meoInputAnalysisHome").addClass("active");
                    $("#home").removeClass("active");
                });
            });
        </script>
        <section class="content form" id="MEOInputAnalysis">
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>MEOLUT</legend>
                    <label for="3385">Hawaii</label>
                    <input type="checkbox" name="MEOLUT_HI" value="3385" checked /><br />
                    <label for="3669">Florida</label>
                    <input type="checkbox" name="MEOLUT_FL" value="3669" checked /><br />
                    <label for="2276">FMCC</label>
                    <input type="checkbox" name="MEOLUT_FR" value="2276" /><br /> <!-- May need to come back and change-->
                </fieldset>
                <fieldset>
                    <legend>Date/Time</legend>
                    <label for="realtime"> Real Time </label>
                    <input type="radio" id="realtime" name="RealPastTime" value="RT_yes" checked />
                    <label for="pasttime"> Past Time </label>
                    <input type="radio" id="pasttime" name="RealPastTime" value="RT_no"><br />
                    <label id="rthours"> Number of Hours to Display <input type="number" name="realtimehours" /></label>
                    <label class="times"> Start Time <input type="datetime-local" name="StartTime" /> </label> <br />
                    <label class="times"> End Time <input type="datetime-local" name="EndTime" /><br /></label>
                </fieldset>
                <fieldset>
                    <legend>Beacon</legend>
                    <label for="HIref">Hawaii Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="HIref" /><br />
                    <label for="FLref">Florida Reference Beacon</label>
                    <input type="radio" name="UseBeaconID" value="FLref" /><br />
                    <label for="UseBeaconID">Use Beacon ID</label>
                    <input type="radio" id="userbeaconid" name="UseBeaconID" value="BeaconInput" /> <br />
                    <label for="UseSiteID">Use Site Number</label>
                    <input type="radio" id="usersiteid" name="UseBeaconID" value="SiteInput" /> <br />
                    <input type="text" id="beaconIDinput" name="beaconID" placeholder="Beacon ID">
                    <input type="text" id="siteIDinput" name="siteID" placeholder="Site ID">
                    <input type="text" id="beaconIDinput" name="beaconLat" placeholder="Ground Truth Latitude">
                    <input type="text" id="beaconIDinput" name="beaconLon" placeholder="Ground Truth Longitude">
                    <input type="text" id="beaconIDinput" name="Location" placeholder="Location name">
                    <input type="text" id="siteIDinput" name="Location" placeholder="Site Number">
                </fieldset>
                <fieldset>
                    <legend>Input File</legend>
                    <label for="mccdb"> Use USMCC DB</label>
                    <input type="radio" name="inputsource" value="mccdb" /> <br />
                    <label for="excelfile">Input Excel File</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="excelfile" /><br />
                    <label for="csvfile">Input CSV File</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="csvfile" /><br />
                    <label for="sqldbfile">Input SQL lite DB (not working)</label>
                    <input type="radio" class="fileinputneeded" name="inputsource" value="sqldbfile" /> <br />
                    <input type="file" id="fileinput" name="inputfile">
                    <br />
                </fieldset>
                <fieldset>
                    <legend>Options</legend>
                    <label for="KMLgen"> Generate KML file </label>
                    <input type="checkbox" class="KMLneeded" name="KMLgen" value="KMLgen" /><br />
                    <label for="SingleBurstGen" class="KMLsub"> Single Burst Loctions in KML ? </label>
                    <input type="checkbox" class="KMLsub" name="SingleBurstGen" value="SingleBurstGen" /><br />
                    <label for="EncLocGen" class="KMLsub"> Encoded Loctions in KML ? </label>
                    <input type="checkbox" class="KMLsub" name="EncLocGen" value="EncLocGen" /><br />
                    <label for="LEOGen" class="KMLsub"> LEO Loctions in KML ? </label>
                    <input type="checkbox" class="KMLsub" name="LEOGen" value="LEOGen" /><br />
                    <label for="OutputSolution" class="KMLsub"> Output (to RCC) Solutions in KML ? </label>
                    <input type="checkbox" class="KMLsub" name="OutputSolution" value="OutputSolution" /><br />
                </fieldset>
                <button type="submit"> Submit </button> <br />
            </form><br />
            <article class="results">
                <h3>Results</h3>
            </article>
        </section>

    </main>
</body>
</html>