<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Messaging Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}"> 
    <!--<link rel="stylesheet" type="text/css" href='styles/mystylesheet3.css'> -->
</head>
<body>
    <main>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <nav class="topnav">
            <a href="/" class="home">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst">Burst Analysis</a>
            <a href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor">Real Time Monitoring</a>
            <a href="/SiteQuery">Site Query</a>
            <a href="/MEOBeaconAnalysis">MEOLUT Beacon Analysis</a>
            <a href="/messager" class="active">Messaging Test</a>
        </nav>
        <section class="content" id="inputdata">
            <h2> Please enter message info</h2>
            <form method="post">

                <input type="text" name="phonenumber" />
                <label for="phonenumber">Number (no dashes)</label>
                <input type="text" name="messagetext" />
                <label for="messagetext">Message to send</label>
                <button type="submit"> Submit </button>
            </form>
        </section>

    </main>

</body>
</html>