<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Sites</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/jquery-3.2.1.js') }}"></script>
</head>
<body>
    <main>
        <aside id="sitequeryoptions">
            <form action="SiteQuery" method="get">
                <label for="sitenum">Alert Site Number</label>
                <input id="sitenum" name="sitenum" type="text" value="{{ sitenum }}" style="display:inline-block" />
                <input type="submit" style="display:inline-block" />
            </form>
        </aside>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <!--Navigation bar-->
        <div id="nav-placeholder"></div>
        <script>
            $(function () {
                $("#nav-placeholder").load("{{ url_for('static', filename = 'templates/navbar.html') }}", function () {
                    $("#siteQueryHome").addClass("active");
                    $("#home").removeClass("active");
                });
            });
        </script>
        <section class="content">
            <article id="opensites">
                <h3> {{ num_sites }} Open Sites </h3>
                <table>
                    <tr>
                        <th>AlertSiteNum</th>
                        <th>Beacon ID</th>
                        <th>Country Code Name</th>
                        <th>Comp Lat</th>
                        <th>Comp Lon</th>
                        <th>Open Time</th>
                        <th>Last Update</th>
                        <th>Num Passes</th>
                        <th>Num Sol</th>
                        <th>Num LEO/GEO Sol</th>
                        <th>Num MEO Sol</th>
                        <th>Num Doppler Sol</th>
                        <th>Num DOA Sol</th>
                    </tr>
                    {% for row in open_site_list %}
                    <tr>
                        <td><a href="/SiteQuery?sitenum={{ row.0 }}">{{ row.0 }}</a></td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{ row.7 }}</td>
                        <td>{{ row.8 }}</td>
                        <td>{{ row.9 }}</td>
                        <td>{{ row.10 }}</td>
                        <td>{{ row.11 }}</td>
                        <td>{{ row.12 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
        </section>
    </main>
</body>
</html>