<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Real Time MEOLUT Monitoring</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}"> 
    <!--<link rel="stylesheet" type="text/css" href='/styles/mystylesheet3.css'>-->
    <!--<script language="javascript">
    document.getElementById('EndDate').value = new Date().toDateInputValue();
    </script> -->
</head>
<body>

    <script type="text/javascript">
    setInterval(function () {
        location.reload();
    }, "{{refreshtimer}}" * 1000);   
    </script>
    <main>
        <aside id="monitoringoptions">
            <form action="RealTimeMonitor" method="get">
                <label for="refreshtimer">Refresh period (seconds)</label>
                <input id="refreshtimer" name="refreshtimer" type="text" value="{{ refreshtimer }}" style="display:inline-block" /> <br />
                <label for="burstwindow">Burst Percentage Window (minutes)</label>
                <input id="burstwindow" name="burstwindow" type="text" value="{{burstwindow}}" style="display:inline-block" /> <br />
                <input type="submit" style="display:inline-block" />
            </form>
        </aside>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Real Time Monitoring - {{EndTime.strftime('%m/%d/%y %H:%M:%S')}}</a>
            </h1>
        </div>


        <nav class="topnav">
            <a href="/" class="home">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst">Burst Analysis</a>
            <a href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor" class="active">Real Time Monitoring</a>
            <a href="/SiteQuery">Site Query</a>
        </nav>
        <section class="content" >
            <article class="packets">
                <h3>
                    Packet percents from {{BurstStartTime.strftime('%m/%d/%y %H:%M:%S')}} to
                    {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }}
                </h3>
                <table>
                    <tr>
                        <th>MEO</th>
                        <th>Antenna</th>
                        <th>Percent</th>
                    </tr>
                    {% for MEO, dict in packetpercent.iteritems() %}
                    {% for ant, percent in dict.iteritems() %}
                    <tr>
                        <td>{{ MEO }} - </td>
                        <td>{{ ant }}</td>
                        <td>{{ percent }} </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </article>
            <article class="openalarms">
                <h3>There are {{ numalarms}} alarms as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }}</h3>
                <table class="RealTimeMonitoring" id="openalarms">
                    <tr>
                        <th>AlarmID</th>
                        <th>MEOLUT</th>
                        <th>Alarm</th>
                        <th>Open at</th>
                        <th>Still open as of</th>
                    </tr>
                    {% for alarm in alarmlist %}
                    <tr>
                        <td>{{alarm.alarmid}}</td>
                        <td>{{alarm.meolutname}}</td>    
                        <td> {{alarm.alarmtext}} </td>
                        <td>{{alarm.openat}}</td>
                        <td>{{alarm.stillopen}}</td>
                    </tr>
                    {% endfor %}
                </table> 
                    
            </article> 
            <article class="status" id="HI">
                <h3>Hawaii Status as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }} </h3>
                <table>
                    <tr>
                        <th>Component</th>
                        <th>Status</th>
                        <th>MsgTime</th>
                    </tr>
                    {% for component in statusHI %}
                    <tr>
                        <td>{{component.component}}</td>
                        <td>{{component.status}}</td>
                        <td> {{component.msgtime}} </td>
                    </tr>
                    {% endfor %}
                </table>

            </article>
            <article class="status" id="FL">
                <h3>Florida Status as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }} </h3>
                <table>
                    <tr>
                        <th>Component</th>
                        <th>Status</th>
                        <th>MsgTime</th>
                    </tr>
                    {% for component in statusFL %}
                    <tr>
                        <td>{{component.component}}</td>
                        <td>{{component.status}}</td>
                        <td> {{component.msgtime}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
            <article id="opensitemon">
                <h3> {{ num_sites }} Open Sites </h3>
                <table>
                    <tr>
                        <th>AlertSiteNum</th>
                        <th>Beacon ID</th>
                        <th>Country Code Name</th>
                        <th>Comp Lat</th>
                        <th>Comp Lon</th>
                        <th>Open Time</th>
                        <th>Last Update</th>
                        <th>Num LEO/GEO Sol</th>
                        <th>Num MEO Sol</th>
                    </tr>
                    {% for row in open_site_list %}
                    <tr>
                        <td><a href="/SiteQuery?sitenum={{ row.0 }}">{{ row.0 }}</a></td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{ row.9 }}</td>
                        <td>{{ row.10 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
            <article class="closedalarms">
                <h3>Closed alarms from {{ StartTime.strftime('%m/%d/%y %H:%M:%S') }} to now</h3>
                <table class="RealTimeMonitoring" id="closedalarms">
                    <tr>
                        <th>AlarmID</th>
                        <th>MEOLUT</th>
                        <th>Alarm</th>
                        <th>Open at</th>
                        <th>Closed at</th>
                    </tr>
                    {% for alarm in closedalarms %}
                    <tr>
                        <td>{{alarm.alarmid}}</td>
                        <td>{{alarm.meolutname}}</td>
                        <td> {{alarm.alarmtext}} </td>
                        <td>{{alarm.openat}}</td>
                        <td>{{alarm.closedat}}</td>
                    </tr>
                    {% endfor %}
                </table>

            </article>
        </section>
    </main>
</body>
</html>