{% extends "layout.html" %}
{% block title %} Real Time Monitoring {% endblock %}

{% block head %}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static',filename='scripts/RealTime.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/floating-labels.css') }}">
{% endblock %}

<body>

    {% block navbar %}
    <div class="container mx-auto col-lg">
        <div class="row">
            <form class='form-inline' action="RealTimeMonitor" method="get">
                <div class="form-label-group">
                    <input class="form-control form-realtime" id="refreshtimer" name="refreshtimer" type="number" placeholder="Refresh Time (sec)" value="{{ refreshtimer }}" />
                    <label for="refreshtimer">Refresh Time (sec)</label>
                </div>
                <div class="form-label-group">
                    <input class="form-control form-realtime" id="burstwindow" name="burstwindow" type="text" placeholder="Time Window" value="{{burstwindow}}" disabled />
                    <label for="burstwindow">Time Window (mins)</label>
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>


    {% endblock %}
    {% block content %}

    <script type="text/javascript">
        setInterval(function () {
            location.reload();
        }, "{{refreshtimer}}" * 1000);
    </script>
    <div class="page-header">
        <h5 class="text-center">Real Time Monitoring - {{EndTime.strftime('%m/%d/%y %H:%M:%S')}}</h5>
    </div>

    <div class="row container">
        <div class="col table-meo">
            <h5>HI MEOLUT</h5>
            <h6>
                {{BurstStartTime.strftime('%m/%d/%y %H:%M')}} to {{ EndTime.strftime('%m/%d/%y %H:%M') }}
            </h6>
            <table class="table table-sm">
                <tr>
                    <th>Num of Ref Locations</th>
                    <th>Average </th>
                    <th>90th % </th>
                    <th>% <5km </th>
                </tr>
                <tr>
                    <td>{{ HI_location_accuracy.num_of_locations }}</td>
                    <td>{{ '%0.2f'| format(HI_location_accuracy.mean|float) }} </td>
                    <td>{{ '%0.2f'| format(HI_location_accuracy.p90|float)}} </td>
                    <td class="ant_percent_table">{{ '%0.2f'| format(HI_location_accuracy.percent_less_than_5km|float) }} </td>
                </tr>
            </table>
            <table class="table table-sm">
                <tr>
                    <th>Antenna</th>
                    <th>Burst Count</th>
                    <th>Percent</th>
                </tr>
                {% for key, val in HI_packet_percent.antenna|dictsort %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val.count }} </td>
                    <td class="ant_percent_table">{{' %0.2f'| format(val.percent) }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col table-meo">
            <h5>FL MEOLUT </h5>
            <h6>{{BurstStartTime.strftime('%m/%d/%y %H:%M')}} to {{ EndTime.strftime('%m/%d/%y %H:%M') }}</h6>
            <table class="table table-sm">
                <tr>
                    <th>Num of Reference Locations</th>
                    <th> Average </th>
                    <th> 90th % </th>
                    <th> % < 5km </th>
                </tr>
                <tr>
                    <td>{{ FL_location_accuracy.num_of_locations }}</td>
                    <td>{{ '%0.2f'| format(FL_location_accuracy.mean|float) }} </td>
                    <td>{{ '%0.2f'| format(FL_location_accuracy.p90|float)}} </td>
                    <td class="ant_percent_table">{{ '%0.2f'| format(FL_location_accuracy.percent_less_than_5km|float) }} </td>
                </tr>
            </table>
            <table class="table table-sm">
                <tr>
                    <th>Antenna</th>
                    <th>Burst Count</th>
                    <th>Percent</th>
                </tr>
                {% for key, val in FL_packet_percent['antenna']|dictsort %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val.count }} </td>
                    <td class="ant_percent_table">{{'%0.2f'|format(val.percent) }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col col-meo-alarms">
            <div class="table-meo">
                <h6>There are {{ numalarms}} alarms as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }}</h6>
                <table class="table table-sm RealTimeMonitoring" id="openalarms">
                    <tr>
                        <th>AlarmID</th>
                        <th>MEOLUT</th>
                        <th>Alarm</th>
                        <th>Open at</th>
                        <th>Still open as of</th>
                    </tr>
                    {% for alarm in alarmlist %}
                    <tr>
                        <td>{{alarm.alarmid}}</td>
                        <td>{{alarm.meolutname}}</td>
                        <td> {{alarm.alarmtext}} </td>
                        <td>{{alarm.openat}}</td>
                        <td>{{alarm.stillopen}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="table-meo">
                <h6>Recent Closed Alarms</h6>
                <table class="table-sm" id="closedalarms">
                    <thead>
                        <tr>
                            <th>AlarmID</th>
                            <th>MEOLUT</th>
                            <th>Alarm</th>
                            <th>Open at</th>
                            <th>Closed at</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for alarm in closedalarms %}
                        <tr>
                            <td>{{alarm.alarmid}}</td>
                            <td>{{alarm.meolutname}}</td>
                            <td> {{alarm.alarmtext}} </td>
                            <td>{{alarm.openat}}</td>
                            <td>{{alarm.closedate}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col table-meo" id="HI">
                <h3>Hawaii Status as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }} </h3>
                <table class="display">
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Status</th>
                            <th>MsgTime</th>
                        </tr>
                    {% for component in statusHI %}
                    </thead>
                    <tr>
                        <td>{{component.component}}</td>
                        <td>{{component.status}}</td>
                        <td> {{component.msgtime}} </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
            <div class="col table-meo status" id="FL">
                <h3>Florida Status as of {{ EndTime.strftime('%m/%d/%y %H:%M:%S') }} </h3>
                <table class="display">
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Status</th>
                            <th>MsgTime</th>
                        </tr>
                    {% for component in statusFL %}
                    </thead>
                    <tr>
                        <td>{{component.component}}</td>
                        <td>{{component.status}}</td>
                        <td> {{component.msgtime}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <h3> {{ num_sites }} Open Sites </h3>
            <table id="opensitemon"  class="display" style="width:100%">
                <thead>
                    <tr>
                        {% for item in open_site_list[0] %}
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="{{ key }}: activate to sort column ascending" style="width: 57px;">{{ item }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in open_site_list[1:] %}
                    <tr>
                        {% for val in item %}
                        <td>{{ val }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% for item in open_site_list[0] %}
                        <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="{{ key }}: activate to sort column ascending" style="width: 57px;">{{ item }}</th>
                        {% endfor %}
                    </tr>
                </tfootd>
            </table>
        </div>
    </div>
    {% endblock %}
</body>

{% block scripts %}
<script src="{{ url_for('static', filename='js/dataTables.fixedHeader.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.fixedColumns.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/buttons.print.min.js') }}"></script>
<script>
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#opensitemon thead tr').clone(true).appendTo( '#opensitemon thead' );
    $('#opensitemon thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );
 
    var table = $('#opensitemon').DataTable( {
        orderCellsTop: true,
        fixedHeader: true,
        autoWidth: true,
        scrollX: true,
        scrollY: true,
        dom: 'Bfrtip',
        buttons: [
            'columnsToggle', 'copy', 'csv', 'excel', 'pdf', 'print'
        ],

    } );
    $('#opensitemon thead input').width('100px')
} );
</script>
{% endblock %}