<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Open Sites</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystylesheet3.css') }}">
    <!--<link rel="stylesheet" type="text/css" href='/styles/mystylesheet3.css'>-->
    <!--<script language="javascript">
    document.getElementById('EndDate').value = new Date().toDateInputValue();
    </script> -->
</head>
<body>
    <main>
        <aside id="sitequeryoptions">
            <form action="SiteQuery" method="get">
                <label for="sitenum">Alert Site Number</label>
                <input id="sitenum" name="sitenum" type="text" value="{{ sitenum }}" style="display:inline-block" /> 
                <input type="submit" style="display:inline-block" /> <br />
                <input type="checkbox" name="KML" value="True" />
                <label for="KML">Generate KML?</label>
                {% if kmlfile %}
                <a href="{{ kmlfilename }}"> KML - site {{ sitenum }}  </a> <br />
                {% endif %}
                
            </form>
        </aside>
        <div id="heading1">
            <h1>
                <a href="{{ url_for('index') }}">Analysis Tools</a>
            </h1>
        </div>
        <nav class="topnav">
            <a href="/" class="home">Home</a>
            <a href="/beacon">Beacon Decode</a>
            <a href="/rawburst">Burst Analysis</a>
            <a href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
            <a href="/RealTimeMonitor">Real Time Monitoring</a>
            <a href="/SiteQuery" class="active">Site Query</a>
        </nav>
        <section class="content">
            <article id="alertsitesum">
                <h3> Alert Site Summary for {{ sitenum }}</h3>
                <table>
                    <tr>
                        <th>AlertSiteNum</th>
                        <th>Beacon ID</th>
                        <th>Country Code Name</th>
                        <th>Comp Lat</th>
                        <th>Comp Lon</th>
                        <th>Open Time</th>
                        <th>Last Update</th>
                        <th>Num Passes</th>
                        <th>Num Sol</th>
                        <th>Num LEO/GEO Sol</th>
                        <th>Num MEO Sol</th>
                        <th>Num Doppler Sol</th>
                        <th>Num DOA Sol</th>
                    </tr>
                    {% for row in alertsitesum %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{ row.7 }}</td>
                        <td>{{ row.8 }}</td>
                        <td>{{ row.9 }}</td>
                        <td>{{ row.10 }}</td>
                        <td>{{ row.11 }}</td>
                        <td>{{ row.12 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
            <article id="outsol">
                <h3> Output (to RCC) Solutions for {{ sitenum }}</h3>
                <table>
                    <tr>
                        <th>AddTime</th>  
                        <th>AlertSiteSolId</th>
                        <th>TimeFirst</th>
                        <th>TimeLast</th>
                        <th>Tca</th>
                        <th>MsgName</th>
                        <th>SolReal</th>
                        <th>EncReal</th>
                        <th>AlertMsgState</th>
                        <th>ComSiteName</th>
                        <th>DestMcc</th>
                        <th>PrevSarNameList</th>
                        <th>CurSarNameList</th>
                        <th>SourceId</th>
                        <th>SourceId2</th>
                        <th>EncLat</th>
                        <th>EncLon</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>A_Lat</th>
                        <th>A_Lon</th>
                        <th>B_Lat</th>
                        <th>B_Lon</th>
                    </tr>
                    {% for row in outsitesols %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{ row.7 }}</td>
                        <td>{{ row.8 }}</td>
                        <td>{{ row.9 }}</td>
                        <td>{{ row.10 }}</td>
                        <td>{{ row.11 }}</td>
                        <td>{{ row.12 }}</td>
                        <td>{{ row.13 }}</td>
                        <td>{{ row.14 }}</td>
                        <td>{{ row.15 }}</td>
                        <td>{{ row.16 }}</td>
                        <td>{{ row.17 }}</td>
                        <td>{{ row.18 }}</td>
                        <td>{{ row.19 }}</td>
                        <td>{{ row.20 }}</td>
                        <td>{{ row.21 }}</td>
                        <td>{{ row.22 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
            <article id ="alertsitesol">
                <h3> Alert Site Solutions for {{ sitenum }}</h3>
                <table>
                    <tr>
                        <th>alertsitesolid</th>
                        <th>inputdatatype</th>
                        <th>bcnid15</th> 
                        <th>framesync</th> 
                        <th>complat</th>
                        <th>complon</th>
                        <th>sitfunc</th>
                        <th>gentime</th>
                        <th>addtime</th>
                        <th>sourceid</th>
                        <th>sourcename</th>
                        <th>sourcemccname</th>
                        <th>numbursts</th>
                        <th>numpackets</th>
                        <th>numsatellites</th>
                        <th>dop</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>a_lat</th>
                        <th>a_lon</th>
                        <th>MatchDistance</th>
                        <th>AlertMsgState</th>
                        <th>ExpectedHorzError</th>
                    </tr>
                    {% for row in alertsitesols %}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>
                        <td>{{ row.5 }}</td>
                        <td>{{ row.6 }}</td>
                        <td>{{ row.7 }}</td>
                        <td>{{ row.8 }}</td>
                        <td>{{ row.9 }}</td>
                        <td>{{ row.10 }}</td>
                        <td>{{ row.11 }}</td>
                        <td>{{ row.12 }}</td>
                        <td>{{ row.13 }}</td>
                        <td>{{ row.14 }}</td>
                        <td>{{ row.15 }}</td>
                        <td>{{ row.16 }}</td>
                        <td>{{ row.17 }}</td>
                        <td>{{ row.18 }}</td>
                        <td>{{ row.19 }}</td>
                        <td>{{ row.20 }}</td>
                        <td>{{ row.21 }}</td>
                        <td>{{ row.22 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </article>
        </section>
    </main>
</body>
</html>