
    <li class='sidebar-brand'><a id="home" href="/" class="home active">Home</a> </li>
    <li><a id="realTimeMonitorHome" href="/RealTimeMonitor">Real Time Monitoring</a></li>
    <li><a id="siteQueryHome" href="/SiteQuery">Site Query</a></li>
    <li><a id="burstAnalysisHome" href="/rawburst">Burst Analysis</a></li>
    <li><a id="meoInputAnalysisHome" href="/MEOInputAnalysis">MEOLUT Input Analysis</a></li>
    <li><a id="meoBeaconAnalysisHome" href="/MEOBeaconAnalysis">MEOLUT Beacon/Site Analysis</a></li>
    <li><a id="siteAnalysis" href="/SiteAnalysis">Site Analysis</a></li>
    <li><a id="meolutMonitor" href="/MEO/CF">MEOLUT Monitor</a></li>
    <li><a id="meoSchedule" href="/MEOSchedule">MEOLUT Schedule </a></li>
    <li><a id="lmdb" href="/LMDB">LEOLUT Monitoring Database </a></li>
    <li><a id="lmdb_cf" href="/LMDB/CF">LMDB CrossFilter </a></li>
    <li><a id="mapHome" href="/Map"> Map (Dev) </a></li>
    <li><a id="beaconDecodeHome" href="/beacon">Beacon Decode</a></li>
    <li><a id="api" href="/api">API </a></li>
    <!--<li><a id="messagerHome" href="/messager">Messaging Test </a></li>-->

