<nav class="topnav">
    <a id="home" href="/" class="home active">Home</a>
    <a id="beaconDecodeHome" href="/beacon">Beacon Decode</a>
    <a id="burstAnalysisHome" href="/rawburst">Burst Analysis</a>
    <a id="meoInputAnalysisHome" href="/MEOInputAnalysis">MEOLUT Input Analysis</a>
    <a id="realTimeMonitorHome" href="/RealTimeMonitor">Real Time Monitoring</a>
    <a id="siteQueryHome" href="/SiteQuery">Site Query</a>
    <a id="meoBeaconAnalysisHome" href="/MEOBeaconAnalysis">MEOLUT Beacon Analysis</a>
    <a id="mapHome" href="/Map">Map (Dev)</a>
    <a id="meoDataHome" href="/MEOData">Get MEO data (J1,J2,J3)</a>
    <a id="messagerHome" href="/messager">Messaging Test</a>
</nav>