body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F0FFFF;
}
main {
    background-color: lightgray;
    margin: 10px 10px;
    padding: 20px;

}

#heading1 {
    padding: 5px 5px;
    text-align:center;

}

#heading1 h1 a{
    color: #7CB9E8;


}

nav {
    background-color: darkgray;
    border: 2px solid black;
    overflow:hidden;
}

nav a{
    color:aliceblue;
    padding: 0 10px 0 10px;
    line-height: 40px;
    display: inline-block;
    text-decoration:none;
    font-variant:small-caps;

}

nav a:hover{
    text-shadow:0 0 20px black;
}

nav .active {
    background-color: orange;
    color: black;

}

nav .home {
    font-weight: bold;
    
}

nav .active:hover{
    text-shadow: 0 0 10px white;

}

section {
    background-color: whitesmoke;
    border: 2px groove gray;    

    padding: 10px 20px 30px 20px;
}
section h2{
       /* text-align:center; */
}

fieldset {
    margin: 10px 5px 20px 5px;
           
}

#RawAnalyzer label{
    display:inline-block;
    padding: 5px 0 0 20px;

}

#RawAnalyzer input{
    display: inline-block;
}

#RawAnalyzer #rthours {
    display: none;
}

#realtime:checked ~ #rthours {
    display: inline-block;
    margin-left: 10px;
}

#RawAnalyzer .times {
    display: none;
}

#pasttime:checked ~ .times {
    display: inline-block;
    margin-left:10px;
}




#MEOInputAnalysis input{
    display: inline-block;
}

#MEOInputAnalysis #rthours {
    display: none;
}

#realtime:checked ~ #rthours {
    display: inline-block;
    margin-left: 10px;
}

#MEOInputAnalysis .times {
    display: none;
}

#pasttime:checked ~ .times {
    display: inline-block;
    margin-left:10px;
}






#RawAnalyzer #beaconIDinput{
    display: none;

}

#userbeaconid:checked ~ #beaconIDinput {
    margin-left: 40px;
    display:inline-block;
}

#MEOInputAnalysis #beaconIDinput{
    display: none;

}

#userbeaconid:checked ~ #beaconIDinput {
    margin-left: 40px;
    display:inline-block;
}

#MEOInputAnalysis #fileinput {
    display:none;
}

#MEOInputAnalysis .fileinputneeded:checked ~ #fileinput {
    margin-left: 40px;
    display: inline-block;
}

#RawAnalyzer #fileinput {
    display:none;
}

#RawAnalyzer .fileinputneeded:checked ~ #fileinput {
    margin-left: 40px;
    display: inline-block;
}

@media screen and (max-width: 700px) {

nav a{
    display: block;
    text-align: center;


}

}